.clear {
    clear: both;
}
#Wikiplus-Quickedit-Summary-Input {
    width: 300px;
}
.Wikiplus-Btn {
    cursor: pointer;
    position: relative;
    text-align: center;
    float: left;
    width: auto;
    margin: 3px 5px 3px 5px;
    padding: 3px 1em 3px 1em;
    box-shadow: 0 1px 2px #aaa;
    background-color: white;
}
.Wikiplus-Btn a {
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
    margin: 0px;
}

.Wikiplus-InterBox {
    z-index: 200;
    position: absolute;
    top: 20%;
    min-height: 100px;
    width: 600px;
    padding: 20px 10px 20px 10px;
    border: 1px rgba(161, 154, 220, 0.41) solid;
    background-color: #edf9f7;
}
.Wikiplus-InterBox-Header {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    border-bottom: 1px #66ccff solid;
    cursor: move;
    line-height: 30px;
    top: -8px;
}
.Wikiplus-InterBox-Input {
    margin: 20px;
    width: 60%;
}
.Wikiplus-InterBox-Btn {
    cursor: pointer;
    position: relative;
    float: right;
    padding: 6px 12px;
    margin: auto 3px auto 3px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(222, 222, 222);
    background-color: white;
}
.Wikiplus-InterBox-Btn:hover {
    background-color: #e8e8e8;
}
.Wikiplus-InterBox-Close {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 3px 7px;
    font-size: 20px;
}
.Wikiplus-InterBox label {
    font-size: 13px;
}
.Wikiplus-InterBox table.diff {
    table-layout: auto !important;
}
.Wikiplus-InterBox table.diff .diff-lineno {
    width: 50%;
}
.Wikiplus-InterBox table.diff .diff-deletedline,
.Wikiplus-InterBox table.diff .diff-addedline {
    width: 50%;
}
.Wikiplus-InterBox table.diff .diff-marker {
    text-align: left;
}
#Wikiplus-Quickedit-Preview-Output {
    margin: 5px 0px 5px 0px;
    clear: both;
}
#Wikiplus-Quickedit {
    min-height: 500px;
}
.Wikiplus-Banner {
    background: rgba(193, 222, 214, 0.51);
    text-align: center;
    font-size: 30px;
    font-family: "微软雅黑";
    padding: 10px 5px 10px 5px;
    min-height: 50px;
    margin: 0px;
}
/*.Wikiplus-Edit-EveryWhereBtn{
    position: absolute;
}*/
.MoeNotification-notice {
    position: relative;
    width: auto;
    margin: 3px 5px 3px 5px;
    padding-left: 5px;
    overflow: hidden;
    box-shadow: 0 3px 3px #aaa;
    font-size: 14px !important;
    display: none;
}
.MoeNotification-notice span {
    text-align: left;
    position: relative;
    margin: 3px auto 3px 3px;
    color: white;
    font-family: Arial, Tahoma, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Hiragino Sans GB,
        Microsoft JhengHei, 微軟正黑體, sans-serif;
    font-size: 14px !important;
    line-height: 1.5 !important;
}
.MoeNotification-notice-success {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 5px #8dda93 solid;
    background-color: #008a00;
}
.MoeNotification-notice-warning {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 5px #ffdf00 solid;
    background-color: #f4bd00;
}
.MoeNotification-notice-warning span {
    color: black;
}
.MoeNotification-notice-error {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 5px #e71717 solid;
    background-color: #b00e06;
}
#MoeNotification {
    position: fixed;
    width: 20%;
    left: 0px;
    bottom: 30px;
    z-index: 713;
}
.mw-editsection-divider {
    display: inline !important;
}
